.jumbotron{
    height: 500px;
    background-image: url(/images/wave-1913559__480.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.card-picto{
    width: 100px;
}